# Step1: Observing your Data
1.
You’ve to load data about one-bedroom apartments in three of New York City’s boroughs: (See the data folder to view the data files names)
- Brooklyn, 
- Manhattan, and 
- Queens. 

And save the values to:

- brooklyn_one_bed
- manhattan_one_bed
- queens_one_bed

In [29]:
import numpy as np
import pandas as pd
from scipy import stats
# load data files here
df1  = pd.read_csv('brooklyn-one-bed.csv')
df2 = pd.read_csv('manhattan-one-bed.csv')
df3 = pd.read_csv('queens-one-bed.csv')

df1 = df1[df1['floor']==1]
df2 = df2[df2['floor']==1]
df3 = df3[df3['floor']==1]
df1.to_csv('brooklyn-one-bed-flat.csv')
df2.to_csv('manhattan-one-bed-flat.csv')
df3.to_csv('queens-one-bed-flat.csv')

In this project, we only care about the price of apartments, so load and save the price of apartments in each borough to:

- brooklyn_price
- manhattan_price
- queens_price

If you want to see what these arrays look like, you can use print statements to see them in the output terminal.

In [30]:
#load prices here

df1_price = pd.read_csv('brooklyn-one-bed-flat.csv')
df2_price = pd.read_csv('manhattan-one-bed-flat.csv')
df3_price = pd.read_csv('queens-one-bed-flat.csv')
df1_price = df1_price['rent']
df2_price = df2_price['rent']
df3_price = df3_price['rent']
df1_price.to_csv('brooklyn_rice.csv')
df2_price.to_csv('manhattan_price.csv')
df3_price.to_csv('queens_price.csv')

# Step2: Finding the mean

Find the average values of one-bedroom apartments in 

- Brooklyn
- Manhattan
- Queens

and save the value to:

- brooklyn_mean 
- manhattan_mean
- queens_mean

In [31]:
# Add mean calculations below
df1_price = pd.read_csv('brooklyn-one-bed-flat.csv')
df2_price = pd.read_csv('manhattan-one-bed-flat.csv')
df3_price = pd.read_csv('queens-one-bed-flat.csv')
df1_price = df1_price['rent']
df2_price = df2_price['rent']
df3_price = df3_price['rent']
df1_mean = df1_price.mean()
df2_mean = df2_price.mean()
df3_mean = df3_price.mean()
print(df1_mean)
print(df2_mean)
print(df3_mean)
df1.to_csv('brooklyn_mean.csv')
df2.to_csv('manhattan_mean.csv')
df3.to_csv('queens_mean.csv')

3000.3333333333335
2891.5510204081634
2102.0

# Step3: Find the Median

Find the median values of one-bedroom apartments in

- Brooklyn
- Manhattan
- Queens

and save the value to:

- brooklyn_median
- manhattan_median
- queens_median

In [32]:
# Add median calculations below
df = pd.read_csv('brooklyn-one-bed-flat.csv')
df2 = pd.read_csv('manhattan-one-bed-flat.csv')
df3 = pd.read_csv('queens-one-bed-flat.csv')


df_median =  df.median()
df2_median = df2.median()
df3_median = df3.median()

df_median.to_csv('brooklyn_median.csv')
df2_median.to_csv('manhattan_median.csv')
df3_median.to_csv('queens_median.csv')

/tmp/ipykernel_6326/2930242824.py:6: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_median =  df.median()
/tmp/ipykernel_6326/2930242824.py:7: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2_median = df2.median()
/tmp/ipykernel_6326/2930242824.py:8: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df3_median = df3.median()

# Step4: Find the mode

Find the mode values of one-bedroom apartments in

- Brooklyn
- Manhattan
- Queens

and save the value to:

- brooklyn_mode
- manhattan_mode
- queens_mode

In [50]:
# Add mode calculations below

df1 = pd.read_csv('brooklyn-one-bed-flat.csv')
df2 = pd.read_csv('manhattan-one-bed-flat.csv')
df3 = pd.read_csv('queens-one-bed-flat.csv')
# find mode of rent with respect to floor
df1_price = df1['rent']

df2_price = df2['rent']
df3_price = df3['rent']


df1_mode = df1_price.mode()
df2_mode = df2_price.mode()
df3_mode = df3_price.mode()




df1_mode.to_csv('brooklyn_mode.csv')
df2_mode.to_csv('manhattan_mode.csv')
df3_mode.to_csv('queens_mode.csv')

In [56]:
# Don't look below here

# Mean
try:
    print("The mean price in Brooklyn is " + str(round(df1_mean,2)))
except NameError:
    print("The mean price in Brooklyn is not yet defined.")
try:
    print("The mean price in Manhattan is " + str(round(df2_mean,2)))
except NameError:
    print("The mean price in Manhattan is not yet defined.")
try:
    print("The mean price in Queens is " + str(round(df3_mean,2)))
except NameError:
    print("The mean price in Queens is not yet defined.")
  
# Median
try:
    print("The median price in Brooklyn is " + str(df_median))
except NameError:
    print("The median price in Brooklyn is not yet defined.")
try:
    print("The median price in Manhattan is " + str(df2_median))
except NameError:
    print("The median price in Manhattan is not yet defined.")
try:
    print("The median price in Queens is " + str(df3_median))
except NameError:
    print("The median price in Queens is not yet defined.")
    
    
# Mode
try:
    print("The mode price in Brooklyn is " + str(df1_mode[0]) + " and it appears " + str(df1_mode.count()) + " times out of " + str(len(df1_price)))
except NameError:
    print("The mode price in Brooklyn is not yet defined.")
# try:
    print("The mode price in Manhattan is " + str(df2_mode[0]) + " and it appears " + str(df2_mode.count()) + " times out of " + str(len(df2_price)))
except NameError:
    print("The mode price in Manhattan is not yet defined.")
try:
    print("The mode price in Queens is " + str(df3_mode[0]) + " and it appears " + str(df3_mode.count()) + " times out of " + str(len(df3_price)))
except NameError:
    print("The mode price in Queens is not yet defined.")

The mean price in Brooklyn is 3000.33
The mean price in Manhattan is 2891.55
The mean price in Queens is 2102.0
The median price in Brooklyn is Unnamed: 0           535.0
rental_id           6605.0
rent                2850.0
bedrooms               2.0
bathrooms              1.0
size_sqft            900.0
min_to_subway          5.0
floor                  1.0
building_age_yrs      86.0
no_fee                 0.0
has_roofdeck           0.0
has_washer_dryer       0.0
has_doorman            0.0
has_elevator           0.0
has_dishwasher         0.0
has_patio              0.0
has_gym                0.0
dtype: float64
The median price in Manhattan is Unnamed: 0.1             731.0
Unnamed: 0              2484.0
rental_id               5908.0
building_id         54642186.0
rent                    2700.0
bedrooms                   1.0
bathrooms                  1.0
size_sqft                650.0
min_to_subway              4.0
floor                      1.0
building_age_yrs          92.0
no_fee                     0.0
has_roofdeck               0.0
has_washer_dryer           0.0
has_doorman                0.0
has_elevator               0.0
has_dishwasher             0.0
has_patio                  0.0
has_gym                    0.0
dtype: float64
The median price in Queens is Unnamed: 0.1             104.5
Unnamed: 0              2165.0
rental_id               7534.0
building_id         72697776.5
rent                    1972.5
bedrooms                   1.0
bathrooms                  1.0
size_sqft                750.0
min_to_subway              5.0
floor                      1.0
building_age_yrs          58.5
no_fee                     0.0
has_roofdeck               0.0
has_washer_dryer           0.0
has_doorman                0.0
has_elevator               0.0
has_dishwasher             0.0
has_patio                  0.0
has_gym                    0.0
dtype: float64
The mode price in Brooklyn is 2300 and it appears 1 times out of 129
The mode price in Queens is 1650 and it appears 1 times out of 20